In [1]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\adhi3\anaconda3\lib\site-packages (4.0.0-unsupported)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymysql
conn = pymysql.connect(host='localhost', user='root', password='', db='eb')
cursor = conn.cursor()
cursor.execute('select distinct pono from master')
rows = cursor.fetchall()
for row in rows:
   print(row)
conn.commit()
conn.close()

(91,)
(96,)
(97,)
(100,)
(101,)
(104,)
(107,)
(108,)
(109,)
(110,)
(113,)
(114,)
(115,)
(116,)
(117,)
(118,)
(119,)
(120,)
(121,)
(122,)
(123,)

In [ ]:
import dash
import dash_table
import pandas as pd

df = pd.read_csv('OneDrive/Desktop/New folder/data po-97/master.csv')

app = dash.Dash(__name__)

app.layout = dash_table.DataTable(
    id='table',
    columns=[{"name": i, "id": i} for i in df.columns],
    data=df.to_dict('records'),
)

if __name__ == '__main__':
    app.run_server(debug=False)

In [3]:
import pandas as pd
df = pd.read_csv('OneDrive/Desktop/New folder/data po-97/master.csv')
df.head(20)

,S_NO,NAME_OF_THE_VESSEL,QUANTITY,DISCHARGE_COMPLETED,PORT,pono,SUPPLIER
0,1,M.V.CORBITA,24024,24.03.14,TUTICORIN,91,m/s_knowledge_infras
1,2,M.V.ACS DIAMOND,52769,28.03.14,TUTICORIN,91,m/s_knowledge_infras
2,3,M.V.SKUA,51000,07.04.14,TUTICORIN,91,m/s_knowledge_infras
3,4,M.V.LUZREN,49755,05.05.14,TUTICORIN,91,m/s_knowledge_infras
4,5,M.V.SLETTNES,51000,15.05.14,TUTICORIN,91,m/s_knowledge_infras
5,6,M.V.TEN YOSHI MARU,52999,01.06.14,TUTICORIN,91,m/s_knowledge_infras
6,7,M.V.SEPHORA,51000,11.06.14,TUTICORIN,91,m/s_knowledge_infras
7,8,M.V.BULK TITAN,53024,22.06.14,TUTICORIN,91,m/s_knowledge_infras
8,9,M.V.GENCO PYRENESS,51000,10.07.14,TUTICORIN,91,m/s_knowledge_infras
9,10,M.V.PARNON,51700,12.08.14,TUTICORIN,91,m/s_knowledge_infras
10,11,M.V.MARE TRADER,51700,30.07.14,TUTICORIN,91,m/s_knowledge_infras
11,12,M.V.UBC LIMAS,52750,28.08.14,TUTICORIN,91,m/s_knowledge_infras
12,13,M.V.ANEMOS,53000,08.09.14,TUTICORIN,91,m/s_knowledge_infras
13,14,M.V.PYTHAGORIS,29250,05.10.14,TUTICORIN,91,m/s_knowledge_infras
14,1,M.V. AGIOS EFRAIM,61397,10.10.14,ENNORE,97,m/s_adani_global_pte
15,2,M.V. NYON,68044,17.10.14,ENNORE,97,m/s_adani_global_pte
16,3,M.V. FD GENNARO AURI,66797,20.10.14,ENNORE,97,m/s_adani_global_pte
17,4,M.V. ABYO GWYNETH,73800,22.10.14,ENNORE,97,m/s_adani_global_pte
18,5,M.V YUAN HUI HAI,67225,28.10.14,ENNORE,97,m/s_adani_global_pte
19,6,M.V CAPE,68200,02.11.14,ENNORE,97,m/s_adani_global_pte

In [6]:
import datetime

In [10]:
datetime.datetime.strptime('18.9.2020', '%d.%m.%Y')

datetime.datetime(2020, 9, 18, 0, 0)

In [ ]:
possible_formats = ['%d.%m.%Y', '%d.%m.%y']
for date_form in possible_formats:
    datetime.strptime()

In [11]:
pwd

'C:\\Users\\adhi3'

In [5]:
dt_col = 'DISCHARGE_COMPLETED'
temp = pd.to_datetime(df[dt_col])
temp

ValueError: Given date string not likely a datetime.

In [4]:
df['DISCHARGE_COMPLETED']=pd.to_datetime(df['DISCHARGE_COMPLETED'],format='%d.%m%.%y')

ValueError: '%' is a bad directive in format '%d.%m%.%y'